<html>
    <head>
        <title>Welcome to AgriCast</title>
        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    </head>
    <body ng-app="agriCast" ng-controller="appCtrl">
        <h1>Welcome to AgriCast </h1>
        <form name="loginForm" ng-submit="login()">
            <label>Username</label>
            <input type="text" ng-model="username" />
            <br/>
            <label>Password</label>
            <input type="password" ng-model="password" />
            <br/>
            <button type="button" ng-click="login();">AJAX</button>
            <button type="submit">Login</button>
        </form>
        {{firstName}}
        {{lastName}}

        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="bower_components/angular-aria/angular-aria.js"></script>
        <script src="bower_components/angular-messages/angular-messages.min.js"></script>
        <script src="bower_components/angular-material/angular-material.min.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>